body {
    background-color: #3d5a80;
}

.app {
    background-color: #98c1d9;
    width: 500px;
    min-height: 500px;
    margin: 40px auto;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

#to-do-form input {
    background-color: #e0fbfc;
    margin: 30px 60px;
    height: 20px;
    padding: 10px;
    width: 200px;
    border: 1px solid;
    border-radius: 30px;
    outline: none;
}

#to-do-form button {
    background-color: #e09f3e;
    margin: 1px;
    height: 40px;
    width: 80px;
    border: 1px solid;
    border-radius: 3px;
}